@page "/applications/create"
@rendermode InteractiveServer
@using BlazorApp.Models
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider authStateProvider
@inject ClientDatabaseService ClientDbService
@inject ApplicationService ApplicantDBService

<h1>Application</h1>

<div class="row bg-white border rounded shadow p-2">
    <div class="col-md-4">
        <EditForm method="post" Model="Applicant" OnValidSubmit="CreateApplicant" FormName="create" Enhance>
            <DataAnnotationsValidator/>
            <ValidationSummary class="text-danger"/>
            <div class="mb-3 floating-input">
                @* <InputText readonly id="username" class="@GetInputClass(Applicant.Username)"/> *@
                <input readonly id="username" value="@Applicant.Username" class="@GetInputClass(Applicant.Username)"/>
                <label for="username" class="form-label">Username:</label>
                <ValidationMessage For="()=> Applicant.Username" class="text-danger"/>
            </div>
            <div class="mb-3 floating-input">
                <InputText readonly id="email" @bind-Value="Applicant.Email" class="@GetInputClass(Applicant.Email)"/>
                <label for="email" class="form-label">Email:</label>
                <ValidationMessage For="()=> Applicant.Email" class="text-danger"/>
            </div>
            <div class="mb-3 floating-input">
                <InputSelect id="paymentTerms"
                            class="@GetInputClass(Applicant.PaymentTerms)"
                            @bind-Value="Applicant.PaymentTerms"
                            @bind-Value:after="CalculateMonthlyAmount">
                    <option value=""></option>
                    <option value="6">6 Months</option>
                    <option value="12">12 Months</option>
                    <option value="18">18 Months</option>
                    <option value="24">24 Months</option>
                </InputSelect>
                <label for="paymentTerms" class="form-label">Payment Terms:</label>
            </div>
            <div class="mb-3">
                @* <InputNumber id="loanAmount" @bind-Value="Applicant.RequestedAmount" class="input-field has-value"/>
                <label for="loanAmount" class="form-label">Loan Amount:</label>
                <ValidationMessage For="()=> Applicant.RequestedAmount" class="text-danger"/> *@
                <input type="range"
                    id="loanAmount"
                    min="1000"
                    max="25000"
                    step="50"
                    @bind="Applicant.RequestedAmount"
                    @bind:after="CalculateMonthlyAmount"
                    class="range-input" />

                <label for="loanAmount" class="form-label">Loan Amount: <strong>R @Applicant.RequestedAmount.ToString("N2")</strong></label>
                <ValidationMessage For="()=> Applicant.RequestedAmount" class="text-danger" />
            </div>
            <div class="w-100 d-flex justify-content-center align-items-center">
                <button disabled="@isSubmitting" type="submit" class="btn btn-primary">Submit</button>
            </div>
            
        </EditForm>
    </div>
    <div class="col-md-4">
        <div>
            <h5 class="text-center fs-2 fw-bold">Offers</h5>
            <p class="text-center">Estimated monthly repayment for your configuration</p>
        </div>
        <div class="mx-5">
            <ul class="loan-summary list-unstyled m-0">
                <li><h5>Terms</h5><p>@Applicant.PaymentTerms Months</p></li>
                <li><h5>Monthly Repayment</h5><p>R @Applicant.MonthlyRepayment.ToString("N2")</p></li>
                <li><h5>Interest Rate</h5><p>@Applicant.LinkedInterest%</p></li>
            </ul>
        </div>
    </div>
</div>
@* <p>@(authenticationState == null ? "No auth state" : "Auth state available")</p> *@
<p>@message</p>


@code{
    [SupplyParameterFromForm]
    public Applicant Applicant {get; set;} = new ();
    [CascadingParameter]
    private AuthenticationState? authenticationState{get; set;}
    private string message = "";
    bool isSubmitting = false;

    private async Task CreateApplicant(){
        try{
            isSubmitting = true;
            await ApplicantDBService.CreateApplication(Applicant);
            message = "Application sent successfully";
        }
        catch(Exception err){
            isSubmitting = false;
            message = "Failed to submit application; contact Admin";
            Console.WriteLine($"There was an error: {err}");
        }
        
    }

    private string GetInputClass(string? passedText)
    {
        return $"input-field{(string.IsNullOrWhiteSpace(passedText) ? "" : " has-value")}";
    }

    private void CalculateMonthlyAmount(){
        Console.WriteLine("Does this method get called");
        if(Applicant.PaymentTerms.Length >= 0){
            @* Number of repayments *@
            Applicant.NumberOfPayments = int.Parse(Applicant.PaymentTerms);
            @* Calculate the interest based on how much you want *@
            const float min_interest = 20;
            const float max_interest = 29;
            @* R1000 interest is 29 and R25000 interest is 20 *@
            Applicant.LinkedInterest = -(Applicant.RequestedAmount)*((max_interest - min_interest) / (24000)) + max_interest;
            @* Cralculate the interest based on period *@
            const float min_frequency_interest = 0;
            const float max_frequency_interest = 3;
            const float gradient = (min_frequency_interest - max_frequency_interest) / 18;
            const float c = - gradient * 24 + min_frequency_interest;
            Applicant.LinkedInterest += gradient * Applicant.NumberOfPayments + c;
            @* Calculate the monthly repayment using compound interest + 75 service fee \(A=P[r(1+r)^{n}]/[(1+r)^{n}1]\) *@
            var P = Applicant.RequestedAmount;
            var r = (Applicant.LinkedInterest /100) / 12;
            var n = Applicant.NumberOfPayments;
            Applicant.MonthlyRepayment = P*(r * MathF.Pow((1 + r), n))/(MathF.Pow((1 + r), n)-1);
            @* Console.WriteLine("Do we get here");
            Console.WriteLine(Applicant.NumberOfPayments );
            Console.WriteLine(Applicant.MonthlyRepayment); *@
        }else{
            @* Console.WriteLine("Do we update"); *@
            Applicant.NumberOfPayments = 0;
            Applicant.MonthlyRepayment = 0;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        authenticationState = await authStateProvider.GetAuthenticationStateAsync();
        if (authenticationState == null)
        {
            Console.WriteLine("⚠️ authenticationState is null");
            return;
        }

        var userClaims = authenticationState.User;
        var userId = userClaims.FindFirst("UserId")?.Value;

        if (!string.IsNullOrEmpty(userId))
        {
            var users = await ClientDbService.GetClientByUserId(userId);
            var User = users.FirstOrDefault();
            if(User != null){
                PrepareApplication(User);
                StateHasChanged(); //
            }
        }
    
    }

    private void PrepareApplication(ClientDatabase client){
        Applicant.Name = client.Name;
        Applicant.Surname = client.Surname;
        Applicant.Email = client.Email;
        Applicant.ClientId = client.Id;
        Applicant.UserId = client.UserId;
    }

}