@using BlazorApp.Components.Reusbale
@using BlazorApp.Models
@inject LoanOffersServices LoanOffersServices
@inject LoanOfferTagsServices LoanTagsServices

<div>
    <div class="d-flex justify-content-between m-3">
        <h3>Loan Offers Management</h3>
        <NavLink class="btn btn-primary" href="/loan-offers">+ Add</NavLink>
    </div>

    <div class="d-flex flex-wrap m-3 gap-4 w-100">
        @if(loanOffers.Count == 0){
            <p>Loading..........</p>
        }
        
        @foreach(var offer in loanOffers){
            <EditableCard Title="@GetLoanTitle(offer)" MinLinkedInterest="@offer.MinimumInterest" MaxLinkedInterest="@offer.MaximumInterest"
            MaxLoanAmount="@offer.MaximumAmount" EditLink="@("/loan-offers/"+offer.Id)" DeleteLink="@("/loan-offers/delete/"+offer.Id)"
            Tags="@offer.loanOffersTags"/>
        }
    </div>
</div>

@code{
    public List<LoanOffer> loanOffers = [];
    private string GetLoanTitle(LoanOffer loanOffer){
        string icon = "";
        switch(loanOffer.LoanType){
            case LoanTypes.Home:
                icon = "🏠 ";
                break;
            case LoanTypes.Car:
                icon = "🚗 ";
                break;
            case LoanTypes.Personal:
                icon = "👨‍💼 ";
                break;
        }

        return icon + loanOffer.Name;
    }

    protected override async Task OnInitializedAsync()
    {
        try{
            Console.WriteLine("Getting the loan offers");
            loanOffers = await LoanOffersServices.GetAllLoanOffersAsync(); // load from backend
            Console.WriteLine("Getting corresponding tags");
            foreach(var offer in loanOffers){
                offer.loanOffersTags = await GetTags(offer);
            }
            Console.WriteLine("Query ran successfully");
        }
        catch(Exception err){
            Console.WriteLine($"There was an error: {err}");
        }
        
    }

    public async Task DeleteOffer(string Id){
        Console.WriteLine($"Deleting offer with Id {Id}");
        try{
            await LoanOffersServices.DeleteAsync(Id);
        }
        catch(Exception err){
            Console.WriteLine($"There was an error: {err}");
        }
        
    }
    async private Task<List<LoanOffersTags>> GetTags(LoanOffer loanOffer){
        var tags = await LoanTagsServices.GetTags(loanOffer.Id);
        return tags;
    }
}